@model SEP.Models.ViewModels.StudentProfileViewModel
@using SEP.Models.Enums
@{
}

<h1>Personal Details</h1>

<form method="post" asp-action="CreateStudent" class="pb-2">

	<input asp-for="@Model.User.Id" hidden />
	<input asp-for="@Model.Student.UserId" hidden />
	<input asp-for="@Model.Student.User" hidden />

	<div class="col pb-2">
		<label asp-for="@Model.User.FirstName" class="col-sm-auto col-form-label">First name</label>
		<input asp-for="@Model.User.FirstName" class="form-control" />
		<span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.User.LastName" class="col-sm-auto col-form-label">Last name</label>
		<input asp-for="@Model.User.LastName" class="form-control" />
		<span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.User.PhoneNumber" class="col-sm-auto col-form-label">Phone number</label>
		<input asp-for="@Model.User.PhoneNumber" class="form-control" />
		<span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.User.Email" class="col-sm-auto col-form-label">Email</label>
		<input asp-for="@Model.User.Email" class="form-control" />
		<span asp-validation-for="@Model.User.Email" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Address" class="col-sm-auto col-form-label">Address</label>
		<input asp-for="@Model.Student.Address" class="form-control" />
		<span asp-validation-for="@Model.Student.Address" class="text-danger"></span>
	</div>


	<div class="col pb-2">
		<label asp-for="@Model.Student.IdNumber" class="col-sm-auto col-form-label">ID Number</label>
		<input asp-for="@Model.Student.IdNumber" class="form-control" />
		<span asp-validation-for="@Model.Student.IdNumber" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Gender"></label>
		<select class="form-select" asp-for="@Model.Student.Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
			<option value="">Select...</option>
		</select>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Race"></label>
		<select class="form-select" asp-for="@Model.Student.Race" asp-items="@Html.GetEnumSelectList<Race>()">
			<option value="">Select...</option>
		</select>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.DriversLicense"></label>
		<select class="form-select" asp-for="@Model.Student.DriversLicense" asp-items="@Html.GetEnumSelectList<DriversLicense>()">
			<option value="">Select...</option>
		</select>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.CareerObjective" class="col-sm-auto col-form-label">Career Objective</label>
		<input asp-for="@Model.Student.CareerObjective" class="form-control" />
		<span asp-validation-for="@Model.Student.CareerObjective" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<input asp-for="@Model.Student.isSouthAfrican" class="form-check-input" type="checkbox" value="true" id="isSouthAfrican">
		<label class"="form-check-label" for="isSouthAfrican">
			South African Citizen?
		</label>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.YOS"></label>
		<select class="form-select" asp-for="@Model.Student.YOS" asp-items="@Html.GetEnumSelectList<YearOfStudy>()">
			<option value="">Select...</option>
		</select>
	</div>

	<div class="col pb-2">
		<select id="facultyNameID" asp-for="@Model.Student.Faculty">
			<option value="" selected disabled>Select faculty</option>
			@foreach (var faculty in @Model.faculty)
			{
				<option value="@faculty.facultyId">@faculty.facultyName</option>
			}
		</select>
	</div>
	<div class="col pb-2">
		<select id="departmentNameID" asp-for="@Model.Student.Department">
			<option value="" selected disabled>Select department</option>
		</select>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Skills" class="col-3">Skills</label>
		<textarea asp-for="@Model.Student.Skills"></textarea>
		<span asp-validation-for="@Model.Student.Skills" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Achievements" class="col-3">Achievements</label>
		<textarea asp-for="@Model.Student.Achievements"></textarea>
		<span asp-validation-for="@Model.Student.Achievements" class="text-danger"></span>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.Student.Interests" class="col-3">Interests</label>
		<textarea asp-for="@Model.Student.Interests"></textarea>
		<span asp-validation-for="@Model.Student.Interests" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Save Profile</button>
</form>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$('#facultyNameID').change(function () {
				var obId = this.value
				//alert(obId);
				$('#departmentNameID').empty();
				$.ajax({
					type: 'GET',
					url: '@Url.Action("GetDepartmentById")',
					dataType: 'json',
					data: { id: obId },
					success: function (dep) {
						$.each(dep, function (index, item) {
							$('#departmentNameID').append('<option value="' + item.departmentName + '">' + item.departmentName + '</option>')
						});
					}
				});
			});
		});
	</script>
}
