@model SEP.Models.ViewModels.EmployerProfileViewModel
@using SEP.Models.Enums
@{
}

<h1>Personal Details</h1>

<form method="post" asp-action="UpdateEmployer" >

    <input asp-for="@Model.Employer.UserId" hidden />
    <input asp-for="@Model.User" hidden />
    <input asp-for="@Model.Employer.isApproved" hidden />
    <input id="approvalstatus" asp-for="@Model.Employer.ApprovalStatus" hidden />


    @*<div class="form-check form-check-inline pb-2">
    <input class="form-check-input" type="checkbox" asp-for="@Model.Employer.isInternal" value="true" id="isInternal">
    <label class="form-check-label" for="isInternal">Internal?</label>
    </div>*@

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0;margin-bottom:1rem;">
        <label asp-for="@Model.Employer.Title">Title</label>
        <input style="border:none;" asp-for="@Model.Employer.Title" />
        <span asp-validation-for="@Model.Employer.Title" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.User.FirstName">First name</label>
        <input style="border:none;" asp-for="@Model.User.FirstName" />
        <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.User.LastName">Last name</label>
        <input style="border:none;" asp-for="@Model.User.LastName" />
        <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.User.PhoneNumber">Phone number</label>
        <input style="border:none;" asp-for="@Model.User.PhoneNumber" />
        <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.User.Email">Email</label>
        <input style="border:none;" asp-for=" @Model.User.Email" />
        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
    </div>
    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.isInternal">Are you a wits employee?</label>
        <div class="col">
            <div class="form-check-inline">
                <input type="radio" asp-for="@Model.Employer.isInternal" id="Emp" value="true" />
                <label for="Emp">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" asp-for="@Model.Employer.isInternal" id="NotEmp" value="false" />
                <label for="NotEmp">No</label>
            </div>
        </div>

        <span asp-validation-for="@Model.Employer.isInternal" class="text-danger"></span>
    </div>
    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.JobTitle">Job Title</label>
        <input style="border:none;" asp-for="@Model.Employer.JobTitle" />
        <span asp-validation-for="@Model.Employer.JobTitle" class="text-danger"></span>
    </div>
    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.BusinessType" class="col-3"></label>
        <select aria-label="Default select example" asp-for="@Model.Employer.BusinessType" asp-items="@Html.GetEnumSelectList<BusinessType>()">
            <option value="">Select...</option>
        </select>

    </div>
    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.CompanyRegistrationNumber">Company Registration Number</label>
        <input style="border:none;" asp-for="@Model.Employer.CompanyRegistrationNumber" />
        <span asp-validation-for="@Model.Employer.CompanyRegistrationNumber" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.BusinessName">Registered Business Name</label>
        <input style="border:none;" asp-for="@Model.Employer.BusinessName" />
        <span asp-validation-for="@Model.Employer.BusinessName" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.TradingName">Trading Name</label>
        <input style="border:none;" asp-for="@Model.Employer.TradingName" />
        <span asp-validation-for="@Model.Employer.TradingName" class="text-danger"></span>
    </div>

    <div class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.Address" class="col-3">Address</label>
        <textarea asp-for="@Model.Employer.Address"></textarea>
        <span asp-validation-for="@Model.Employer.Address" class="text-danger"></span>
    </div>
    <div id="approvernote" class="row pb-2" style="border: 2px solid black; border-radius:1rem;width:30rem; border-top: 0;padding:1rem;padding-top:0; margin-bottom:1rem;">
        <label asp-for="@Model.Employer.ApproverNote" class="col-3">Approver's note'</label>
        <textarea style="border: none;" asp-for="@Model.Employer.ApproverNote" readonly></textarea>
        <span asp-validation-for="@Model.Employer.ApproverNote" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="EmployerHome">Back</a>
    </div>
</form>
@section scripts{
    <script>
        function hideApproverNote() {
            $('#approvernote').hide();
        }
        $(document).ready(function () {
            hideApproverNote();
            var note = $('#approvalstatus').val()
            if (note != "Pending" && note != "") {
                $('#approvernote').show();
            }


        });
    </script>
}
