@model SEP.Models.ViewModels.EmployerProfileViewModel
@using SEP.Models.Enums
@{
}

@if (Model.Employer.ApprovalStatus.Equals("Rejected"))
{
    <div>
        <b>Note:</b>
        <p>Your account request had been rejected. Please check the approvers note and make the necessary changes to request access again.</p>
    </div>
    <hr />
}

<h1>Personal Details</h1>

<form method="post" asp-action="UpdateEmployer">

    <input asp-for="@Model.Employer.UserId" hidden />
    <input asp-for="@Model.User" hidden />
    <input asp-for="@Model.Employer.isApproved" hidden />
    <input id="approvalstatus" asp-for="@Model.Employer.ApprovalStatus" hidden />

    <div class="col pb-2">
        <label asp-for="@Model.Employer.Title" class="col-3">Title</label>
        <input asp-for="@Model.Employer.Title"  />
        <span asp-validation-for="@Model.Employer.Title" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.User.FirstName" class="col-3">First name</label>
        <input asp-for="@Model.User.FirstName"  />
        <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.User.LastName" class="col-3">Last name</label>
        <input asp-for="@Model.User.LastName" />
        <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.User.PhoneNumber" class="col-3">Phone number</label>
        <input asp-for="@Model.User.PhoneNumber" />
        <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.User.Email" class="col-3">Email</label>
        <input asp-for="@Model.User.Email"  />
        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
    </div>
    <div class="col pb-2">
        <label asp-for="@Model.Employer.isInternal" class="col-3">Are you a wits employee?</label>
            <div class="form-check-inline">
                <input type="radio" asp-for="@Model.Employer.isInternal" id="Emp" value="true" />
                <label for="Emp">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" asp-for="@Model.Employer.isInternal" id="NotEmp"value="false" />
            <label for="NotEmp">No</label>
            </div>
        <span asp-validation-for="@Model.Employer.isInternal" class="text-danger"></span>
    </div>
    <div class="col pb-2">
        <label asp-for="@Model.Employer.JobTitle" class="col-3">Job Title</label>
        <input asp-for="@Model.Employer.JobTitle" />
        <span asp-validation-for="@Model.Employer.JobTitle" class="text-danger"></span>
    </div>
    <div class="col pb-2">
        <label asp-for="@Model.Employer.BusinessType" class="col-3"></label>
        <select aria-label="Default select example" asp-for="@Model.Employer.BusinessType" asp-items="@Html.GetEnumSelectList<BusinessType>()">
            <option value="">Select...</option>
        </select>
        
    </div>
    <div class="col pb-2">
        <label asp-for="@Model.Employer.CompanyRegistrationNumber" class="col-3">Company Registration Number</label>
        <input asp-for="@Model.Employer.CompanyRegistrationNumber" />   
        <span asp-validation-for="@Model.Employer.CompanyRegistrationNumber" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.Employer.BusinessName" class="col-3">Registered Business Name</label>
        <input asp-for="@Model.Employer.BusinessName"  />
        <span asp-validation-for="@Model.Employer.BusinessName" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.Employer.TradingName" class="col-3">Trading Name</label>
        <input asp-for="@Model.Employer.TradingName" />
        <span asp-validation-for="@Model.Employer.TradingName" class="text-danger"></span>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.Employer.Address" class="col-3">Address</label>
        <textarea asp-for="@Model.Employer.Address" ></textarea>
        <span asp-validation-for="@Model.Employer.Address" class="text-danger"></span>
    </div>
    <div id="approvernote" class="col pb-2">
        <label asp-for="@Model.Employer.ApproverNote" class="col-3">Approver's note'</label>
        <textarea asp-for="@Model.Employer.ApproverNote" readonly></textarea>
        <span asp-validation-for="@Model.Employer.ApproverNote" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        @if (!Model.Employer.ApprovalStatus.Equals("Rejected"))
        {
            <a class="btn btn-primary" asp-controller="Home" asp-action="EmployerHome">Back</a>  
        }
    </div>
</form>
@section scripts{
    <script>
        function hideApproverNote(){
            $('#approvernote').hide();
        }
        $(document).ready(function(){
            hideApproverNote();
            var note = $('#approvalstatus').val()
            if(note != "Pending"  && note!=""){
                $('#approvernote').show();
            }

           
        });
    </script>
}
 