@model SEP.Models.ViewModels.StudentPostViewModel

@{
    ViewData["Title"] = "Job Posts";
}

<h1>Job Posts</h1>
@if (Model.ProfileComplete)
{
    @if (Model.Posts.Count() == 0)
    {
        <caption>No Relevant Job Posts Found</caption>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Job Title
                    </th>
                    <th>
                        Department Name
                    </th>
                    <th>
                        Job Type
                    </th>
                    <th>
                        Part Time Hours
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Hourly Rate
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>
                            @item.JobTitle
                        </td>
                        <td>
                            @item.DepartmentName
                        </td>
                        <td>
                            @item.JobType
                        </td>
                        <td>
                            @item.PartTimeHour
                        </td>
                        <td>
                            @item.StartDate.ToString("d")
                        </td>
                        <td>
                            @item.EndDate.ToString("d")
                        </td>
                        <td>
                            @item.HourlyRate
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Post" asp-action="Details" asp-route-id="@item.PostId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
} else
{
    <caption>Please complete your profile to view job posts.</caption>
}

<div class="pt-3">
    <a class="btn btn-primary" asp-controller="Home" asp-action="StudentHome">Back</a>
</div>
