@model SEP.Models.ViewModels.PostViewModel

<form method="post" asp-action="UpdatePost">

    <input asp-for="@Model.post.PostId" hidden />
    <input asp-for="@Model.post.PostStatus" hidden />
    <input asp-for="@Model.post.ApprovalStatus" hidden />
    <input asp-for="@Model.post.IsApproved" hidden />
    <input asp-for="@Model.post.EmployerId" hidden />

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.PostReviewComment"></label>
            <textarea style="width:100%;border-color: red; border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.PostReviewComment" readonly></textarea>
        </div>

        <div class="col pb-2">
            <label asp-for="@Model.post.JobTitle"></label>
            <input style="width:100%;" asp-for="@Model.post.JobTitle" />
            <span asp-validation-for="@Model.post.JobTitle" class="text-danger"></span>

        </div>

        <div class="col pb-2">
            <label asp-for="@Model.post.JobLocation"></label>
            <input style="width:100%;" asp-for="@Model.post.JobLocation" />
            <span asp-validation-for="@Model.post.JobLocation" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.JobDescription"></label>
            <textarea style="width:100%; border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.JobDescription"></textarea>
            <span asp-validation-for="@Model.post.JobDescription" class="text-danger"></span>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.Responsibilities"></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.Responsibilities"></textarea>
            <span asp-validation-for="@Model.post.Responsibilities" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.JobType"></label>
            <select class="form-select" style="width:100%;border-radius:0;" id="jobtypeid" asp-for="@Model.post.JobType">
                <option value="" selected disabled>Select job type</option>
                <option value="Fulltime">Fulltime</option>
                <option value="Part-time">Part-time</option>
            </select>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.PartTimeHour"></label>
            <select id="hours" class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.PartTimeHour">
                <option value="" selected>Range</option>
                @foreach (var hour in @Model.PartTimeHours)
                {
                    <option value=@hour.TimeRange> @hour.TimeRange </option>
                }
            </select>
            <span asp-validation-for="@Model.post.JobType" class="text-danger"></span>
        </div>

        <div class="col pb-2">
            <label asp-for="@Model.post.HourlyRate"></label>
            <input style="width:100%;" asp-for="@Model.post.HourlyRate" />
            <span asp-validation-for="@Model.post.HourlyRate" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.StartDate"></label>
            <input id="startdate" class="form-control" type="date" asp-for="@Model.post.StartDate" />
            <span id="startdatespan" @*asp-validation-for="@Model.post.StartDate"*@ class="text-danger"></span>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.EndDate"></label>
            <input id="enddate" class="form-control" type="date" asp-for="@Model.post.EndDate" />
            <span id="enddatespan" @*asp-validation-for="@Model.post.EndDate"*@ class="text-danger"></span>
        </div>
        <div class="col pl-2">
            <label asp-for="@Model.post.ApplicationClosingDate"></label>
            <input id="closingdate" class="form-control" type="date" asp-for="@Model.post.ApplicationClosingDate" />
            <span id="closingdatespan" @*asp-validation-for="@Model.post.ApplicationClosingDate"*@ class="text-danger"></span>
        </div>
    </div>

    <div class="col pb-2">
        <label>Limited to</label>
        <div class="d-flex row-cols-auto flex-wrap">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo1stYear" value="true" id="1stYear">
                <label class="form-check-label" for="1stYear">1st Year</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo2ndYear" value="true" id="2ndYear">
                <label class="form-check-label" for="2ndYear">2nd Year</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo3rdYear" value="true" id="3rdYear">
                <label class="form-check-label" for="3rdYear">3rd Year</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToHonours" value="true" id="Honours">
                <label class="form-check-label" for="Honours">Honours</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToGraduate" value="true" id="Graduates">
                <label class="form-check-label" for="Graduates">Graduates</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToMasters" value="true" id="Masters">
                <label class="form-check-label" for="Masters">Masters</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPhd" value="true" id="PHD">
                <label class="form-check-label" for="PHD">PHD</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPostdoc" value="true" id="Postdoc">
                <label class="form-check-label" for="Postdoc">Postdoc</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToFaculty" value="true" id="Faculty">
                <label class="form-check-label" for="Faculty">Faculty</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToDepartment" value="true" id="Department">
                <label class="form-check-label" for="Department">Department</label>
            </div>

        </div>
    </div>

    <div class="col pb-2">
        <label asp-for="@Model.post.LimitedToSA"></label>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="true" id="SAonly">
                <label class="form-check-label" for="SAonly">South African citizens or</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="false" id="everyone">
                <label class="form-check-label" for="everyone">Open to everyone</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.FacultyName"></label>
            <select id="facultyNameID" class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.FacultyName">
                <option value="" selected disabled>Select faculty</option>
                @foreach (var faculty in @Model.Faculty)
                {
                    <option value="@faculty.FacultyId">@faculty.FacultyName</option>
                }
            </select>
            <span asp-validation-for="@Model.post.FacultyName" class="text-danger"></span>
        </div>

        <div class="col pb-2">
            <label asp-for="@Model.post.DepartmentName"></label>
            <select id="departmentNameID" class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.DepartmentName">
                <option value="" selected disabled>Select department</option>
                @foreach (var department in @Model.Department)
                {
                    <option value="@department.DepartmentId">@department.DepartmentName</option>
                }
            </select>
            <span asp-validation-for="@Model.post.DepartmentName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.MinimumRequirement" ></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.MinimumRequirement"> </textarea>
            <span asp-validation-for="@Model.post.MinimumRequirement" class="text-danger"></span>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ApplicationInstruction" ></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.ApplicationInstruction"></textarea>
            <span asp-validation-for="@Model.post.ApplicationInstruction" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonName"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ContactPersonName" />
            <span asp-validation-for="@Model.post.ContactPersonName" class="text-danger"></span>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonEmail"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ContactPersonEmail" />
            <span asp-validation-for="@Model.post.ContactPersonEmail" class="text-danger"></span>

        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonNumber"></label>
            <input class="form-control" style="width:100%;"  asp-for="@Model.post.ContactPersonNumber" />
            <span asp-validation-for="@Model.post.ContactPersonNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col pl-3">
        <button asp-controller="JobApplication" asp-action="ViewApplicants" asp-route-id="@Model.post.PostId" type="submit" class="btn btn-info  btn-sm">View applicants</button>
        <button asp-controller="Post" asp-action="ClosePost" type="submit" class="btn btn-info btn-sm">Close</button>
        <button asp-controller="Post" asp-action="WithdrawPost" type="submit" class="btn btn-info  btn-sm">Withdraw</button>
    </div>
    <div class="col pl-3 pt-2">
        <button type="submit" class="btn btn-success btn-sm">Save changes</button>
        <a asp-controller="Post" asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
    </div>

</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {

            // Auto resizing the text area
            $('.autoresizing').on('input', function () {
                this.style.height = 'auto';

                this.style.height =
                    (this.scrollHeight) + 'px';
            });

            // Validation for start date

            function validateStartDate() {
                let currentDate = new Date().toISOString().split('T')[0].split('-');
                let startDate = $('#startdate').val().split("-");
                $('#startdatespan').text("");
                // validate if they are not selecting previous years
                // validate if they are not selecting previous years
                if (startDate[0] < currentDate[0] || startDate[0] == currentDate[0] && startDate[1] < currentDate[1] || startDate[0] == currentDate[0] && startDate[1] == currentDate[1] && startDate[1] < currentDate[1]) {
                    let err = ("year should be current year onwards");
                    $('#startdatespan').text(err);
                }
            }

            // validation for end date
            function validateEndDate() {
                let currentDate = new Date().toISOString().split('T')[0].split('-');
                let startDate = $('#startdate').val().split("-");
                let endDate = $('#enddate').val().split("-");
                $('#startdatespan').text("");
                $('#enddatespan').text("");
                //check if start date is greater than end date
                if (endDate[0] == startDate[0] && endDate[1] == startDate[1] && endDate[2] == startDate[2]) {
                    let err = ("Start and end date can not be same");
                    $('#startdatespan').text(err);
                    $('#enddatespan').text(err);
                }
                else if (endDate[0] >= startDate[0] && endDate[1] < startDate[1]) {
                    let err = ("start can not be after end date (month)");
                    $('#startdatespan').text(err);
                }

                else if (endDate[0] == startDate[0] && endDate[1] == startDate[1] && endDate[2] < startDate[2]) {
                    let err = ("Start date can not be after end date");
                    $('#startdatespan').text(err);
                }

            }

            // Validation for closing date
            function validateClosingDate() {
                let currentDate = new Date().toISOString().split('T')[0].split('-');
                let startDate = $('#startdate').val().split("-");
                let endDate = $('#enddate').val().split("-");
                let closingdate = $('#closingdate').val().split("-");

                $('#startdatespan').text("");
                $('#enddatespan').text("");
                $('#closingdatespan').text("");

                // validating closing date aginst start date

                if (closingdate[0] < currentDate[0]) {
                    let err = ("Closing date can not be before today");
                    $('#closingdatespan').text(err);
                }

                if (closingdate[0] > startDate[0]) {
                    let err = ("Closing date can not be after start date");
                    $('#closingdatespan').text(err);
                }

                else if (closingdate[0] == startDate[0] && closingdate[1] > startDate[1]) {
                    let err = ("Closing date can not be after start date");
                    $('#closingdatespan').text(err);
                }

                else if (closingdate[0] == startDate[0] && closingdate[1] == startDate[1] && closingdate[2] > startDate[2]) {
                    let err = ("Closing date can not be after start date");
                    $('#closingdatespan').text(err);
                }
            }

            $('#jobtypeid').change(function () {
                if (this.value == "Fulltime") {
                    $('#parttimehours').hide();
                    $('#hours').val("");
                }
                else {
                    $('#parttimehours').show();
                }
            });

            // validate dates

            // start date
            $('#startdate').change(function () {
                validateStartDate();
            });
            //end date
            $('#enddate').change(function () {
                validateEndDate();
            });

            // closing date
            $('#closingdate').change(function () {
                validateClosingDate();
            });

            $('#facultyNameID').change(function () {
                var obId = this.value
                //alert(obId);
                $('#departmentNameID').empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDepartmentListById")',
                    dataType: 'json',
                    data: { id: obId },
                    success: function (dep) {
                        $.each(dep, function (index, item) {
                            $('#departmentNameID').append('<option  >' + item.departmentName + '</option>')
                        });
                    }
                });

            });

        });
    </script>
}