@model SEP.Models.ViewModels.PostViewModel

<form method="post" asp-action="UpdatePost">

	<input asp-for="@Model.post.postId"  hidden/>
	<input asp-for="@Model.post.postStatus"  hidden/>
	<input asp-for="@Model.post.UserID"  hidden/>
	<div class="col pb-2">
		<label asp-for="@Model.post.postreviewComment" class="col-2"></label>
		<input asp-for="@Model.post.postreviewComment" disabled/>
	</div>
	
	<div class="col pb-2">
		<label asp-for="@Model.post.jobTitle" class="col-2"></label>
		<input asp-for="@Model.post.jobTitle" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.jobLocation" class="col-2"></label>
		<input asp-for="@Model.post.jobLocation" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.jobDescription" class="col-2"></label>
		<input asp-for="@Model.post.jobDescription" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.resposibilities" class="col-2"></label>
		<input asp-for="@Model.post.resposibilities" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.jobType" class="col-2"></label>
		<select asp-for="@Model.post.jobType" >
			<option value="" selected disabled>Select job type</option>
			<option value="Fulltime">Fulltime</option>
			<option value="Part-time">Part-time</option>
		</select>
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.partTimeHour"></label>
		<select asp-for="@Model.post.partTimeHour">
			<option value=""selected >Range</option>
			<option value=" < 2 "> < 2 </option>
			<option value="2 - 4">2 - 4</option>
			<option value="Fulltime">4 - 6</option>
			<option value="6-8">4 - 8</option>
			<option value="Fulltime">8 - 12</option>
			<option value="> 12"> > 12</option>
		</select>
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.startDate" class="col-2"></label>
		<input type="date" asp-for="@Model.post.startDate" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.endDate" class="col-2"></label>
		<input type="date" asp-for="@Model.post.endDate" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.hourlyRate" class="col-2"></label>
		<input  asp-for="@Model.post.hourlyRate" />
	</div>
<div class="col pb-2">
		<label >Limited to</label>
		<div class="col-5">
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo1stYear" value="true" id="1stYear">
				 <label class="form-check-label" for="1stYear">1st Year</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo2ndYear" value="true" id="2ndYear">
				 <label class="form-check-label" for="2ndYear">2nd Year</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo3rdYear" value="true" id="3rdYear">
				 <label class="form-check-label" for="3rdYear">3rd Year</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToHonours" value="true" id="Honours">
				 <label class="form-check-label" for="Honours">Honours</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToGraduate" value="true" id="Graduates">
				 <label class="form-check-label" for="Graduates">Graduates</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToMasters" value="true" id="Masters">
				 <label class="form-check-label" for="Masters">Masters</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToPhd" value="true" id="PHD">
				 <label class="form-check-label" for="PHD">PHD</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToPostdoc" value="true" id="Postdoc">
				 <label class="form-check-label" for="Postdoc">Postdoc</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToFaculty" value="true" id="Faculty">
				 <label class="form-check-label" for="Faculty">Faculty</label>
			</div>
			<div class="form-check form-check-inline">
				 <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToDepartment" value="true" id="Department">
				 <label class="form-check-label" for="Department">Department</label>
			</div>
			
		</div>
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.limitedToCountry"></label>
		<div class="form-check">
			 <input class="form-check-input" type="radio" asp-for="@Model.post.limitedToCountry" value="South African citizens or" id="SAonly">
			 <label class="form-check-label" for="SAonly">South African citizens or</label>
		</div>
		<div class="form-check">
			 <input class="form-check-input" type="radio" asp-for="@Model.post.limitedToCountry" value="Open to everyone" id="everyone">
			 <label class="form-check-label" for="everyone">Open to everyone</label>
		</div>
	</div>

	<div class="col pb-2">
		<select  id="facultyNameID" asp-for="@Model.post.facultyName" >
			<option value="" selected disabled>Select faculty</option>
			@foreach(var faculty in @Model.faculty){
				<option value="@faculty.facultyId" >@faculty.facultyName</option>
			}
		</select>
	</div>
	<div class="col pb-2">
		<select id="departmentNameID" asp-for="@Model.post.departmentName" >
			<option value=""  selected disabled>Select department</option>
			@foreach(var department in @Model.department){
				<option value="@department.departmentName" >@department.departmentName</option>
			}
		</select>
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.post.minimumRequirment" class="col-2"></label>
		<input  asp-for="@Model.post.minimumRequirment" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.applicationInstruction" class="col-2"></label>
		<input asp-for="@Model.post.applicationInstruction" />
	</div>

	<div class="col pl-1">
		<label asp-for="@Model.post.applicationClosingDate" class="col-2"></label>
		<input type="date" asp-for="@Model.post.applicationClosingDate" />
	</div>

	<div class="col pb-2">
		<label asp-for="@Model.post.conatctPersonName" class="col-2"></label>
		<input asp-for="@Model.post.conatctPersonName" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.conatctPersonEmail" class="col-2"></label>
		<input asp-for="@Model.post.conatctPersonEmail" />
	</div>
	<div class="col pb-2">
		<label asp-for="@Model.post.conatctPersonNumber" class="col-2"></label>
		<input asp-for="@Model.post.conatctPersonNumber" />
	</div>
	<div class="col pl-3">
		<button asp-controller="Post" asp-action="ViewApplicants" type="submit" class="btn btn-info  btn-sm">View applicants</button>
		<button asp-controller="Post" asp-action="ClosePost" type="submit" class="btn btn-info btn-sm">Close</button>
		<button asp-controller="Post" asp-action="WithdrawPost" type="submit" class="btn btn-info  btn-sm">Withdraw</button>
	</div>
	<div class="col pl-3 pt-2">
		<button type="submit"  class="btn btn-success btn-sm">Save changes</button>
		<a asp-controller="Post" asp-action="Index" class="btn btn-secondary btn-sm">Back</a>
	</div>

</form>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function(){
			$('#facultyNameID').change(function(){
				var obId = this.value
				//alert(obId);
				$('#departmentNameID').empty();
				$.ajax({
					type:'GET',
					url: '@Url.Action("GetDepartmentById")',
					dataType: 'json',
					data: {id : obId},
					success: function(dep){
						$.each(dep,function(index,item){
							$('#departmentNameID').append('<option value="'+item.departmentName+'">' +item.departmentName+ '</option>')
						});
					}
				});

			});
		});
	</script>
}