@model IEnumerable<SEP.Models.DomainModels.JobApplication>
@{
}
<h1>Application History</h1>
<hr />
@if (Model.Count() == 0)
{
    <caption>You have not applied for any job posts yet.</caption>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post.DepartmentName)
            </th>
            <th>
                FT/PT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Post.JobTitle
                </td>
                <td>
                    @item.Post.DepartmentName
                </td>
                <td>
                    @item.Post.JobType
                </td>
                <td>
                    @item.Post.StartDate.ToString("d")
                </td>
                <td>
                    @item.Post.EndDate.ToString("d")
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @if(@item.Status.Equals("Incomplete")){
                        <a class="btn btn-primary" asp-controller="JobApplication" asp-action="Create" asp-route-id="@item.PostId" asp-route-returnTo="ApplicationHistory">Edit</a>
                    } else
                    {
                        <a class="btn btn-primary" asp-controller="JobApplication" asp-action="Details" asp-route-id="@item.ApplicationId">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>   
}
<div class="pt-3">
    <a class="btn btn-primary" asp-controller="Home" asp-action="StudentHome">Back</a>
</div>