@model SEP.Models.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Upload";

}
@if (ViewBag.Message != null)
{
    if (ViewBag.MessageType == "Success")
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
            @ViewBag.Message
        </div>
    } else
    {
        <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }

}
<section>
    <p>You are applying for the post of <b>@Model.JobTitle</b></p>
</section>
<h4>Uploaded Documents</h4>
<hr />
@if (Model.Documents.Count() == 0)
{
    <caption>No Documents Found</caption>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>            
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.Documents)
            {
                <tr>
                    <td>@file.Description</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="@Url.Action("ViewDocument", "JobApplication", new {id = file.DocumentId})" target="_blank">View</a>
                        <a type="button" class="btn btn-danger" asp-controller="JobApplication" asp-action="DeleteFile" asp-route-id="@file.DocumentId" asp-route-returnTo=@TempData["ReturnTo"]>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<section class="pt-3">
<h4>Upload New Document</h4>
<hr />
    <form method="post" enctype="multipart/form-data">
        <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
        <button class="btn btn-success" type="submit" asp-route-id=@Model.Application.ApplicationId asp-controller="JobApplication" asp-action="UploadDocument" asp-route-returnTo=@TempData["ReturnTo"]>Upload</button>
        <div>
            <input type="file" name="files" multiple required />
        </div>
    </form>
</section>
<div class="pt-3">
    <a class="btn btn-success" asp-controller="JobApplication" asp-action="SubmitApplication" asp-route-id=@Model.Application.ApplicationId asp-route-returnTo=@TempData["ReturnTo"]>Submit</a>
    <a class="btn btn-primary" href="##" onClick="history.go(-1); return false;">Back</a>
</div>