@model SEP.Models.DomainModels.Qualification
@{
	ViewData["Message"] = "Qualification Details";
}
<h1>Qualification Details</h1>
<hr />
<div class="row">
    <div class="col-md-12 ">
        <div >
            <p><b>Institution: </b>@Model.Institution</p>
        </div>
        <div >
            <p><b>Start Date: </b> @Model.StartDate.ToString("d")</p>
        </div>
        <div >
            <p><b>End Date: </b> @Model.EndDate.ToString("d")</p>
        </div>
        <div >
            <p><b>Qualification: </b> @Model.QualificationName</p>
        </div>
        <div>
            <p><b>Subjects: </b> @Model.Subjects</p>
        </div>
        <div>
            <p><b>Majors: </b> @Model.Majors</p>
        </div>
        <div>
            <p><b>Sub-Majors: </b> @Model.SubMajors</p>
        </div>
        <div>
            <p><b>Research: </b> @Model.Research</p>
        </div>
    </div>
</div>
<div class="pt-2">
    <a class="btn btn-primary" href="##" onClick="history.go(-1); return false;">Back</a>
</div>