@model SEP.Models.ViewModels.PostViewModel

<form method="post">
    <input asp-for="@Model.post.PostId" hidden />
    <input asp-for="@Model.post.EmployerId" hidden />
    <input asp-for="@Model.post.IsApproved" hidden />

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.PostReviewComment"></label>
            <textarea class="form-control autoresizing" style="width:100%;border: 1px solid red; border-radius:0;" asp-for="@Model.post.PostReviewComment"></textarea>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.JobTitle"></label>
            <input style="width:100%;" asp-for="@Model.post.JobTitle" readonly />
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.JobLocation"></label>
            <input style="width:100%;" asp-for="@Model.post.JobLocation" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.JobDescription"></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.JobDescription" readonly > </textarea>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.Responsibilities"></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.Responsibilities" readonly > </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.JobType"></label>
            <select class="form-select" style="width:100%;border-radius:0;" id="jobType" asp-for="@Model.post.JobType">
                <option value="" selected disabled>Select job type</option>
                @if (@Model.post.JobType == "Fulltime")
                {
                    <option value="Fulltime">Fulltime</option>
                    <option value="Part-time" disabled>Part-time</option>
                }
                else
                {
                    <option value="Part-time">Part-time</option>
                    <option value="Fulltime" disabled>Fulltime</option>
                }

            </select>
        </div>
        @if (@Model.post.JobType != "Fulltime")
        {
            <div class="col pb-2">
                <label asp-for="@Model.post.PartTimeHour"></label>
                <select class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.PartTimeHour">
                    <option value="" selected>Range</option>
                    @foreach (var hour in @Model.PartTimeHours)
                    {
                        @if (@hour.TimeRange == @Model.post.PartTimeHour)
                        {
                            <option value=@hour.TimeRange> @hour.TimeRange </option>
                        }
                        else
                        {
                            <option value=@hour.TimeRange disabled> @hour.TimeRange </option>
                        }

                    }
                </select>
            </div>
        }

        <div class="col pb-2">
            <label asp-for="@Model.post.HourlyRate"></label>
            <input style="width:100%;" asp-for="@Model.post.HourlyRate" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.StartDate"></label>
            <input type="date" class="form-control" asp-for="@Model.post.StartDate" readonly />
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.EndDate"></label>
            <input type="date" class="form-control" asp-for="@Model.post.EndDate" readonly />
        </div>
        <div class="col pl-1">
            <label asp-for="@Model.post.ApplicationClosingDate"></label>
            <input style="width:100%;" type="date" class="form-control" asp-for="@Model.post.ApplicationClosingDate" readonly />
        </div>
    </div>

    <div class="col pb-2">
        <label>Limited to</label>
        <div class="d-flex row-cols-auto flex-wrap">
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedTo1stYear == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo1stYear" value="true" id="1stYear">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo1stYear" value="true" id="1stYear" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo1stYear" value="true" id="1stYear" >*@
                <label class="form-check-label" for="1stYear">1st Year</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedTo2ndYear == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo2ndYear" value="true" id="2ndYear">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo2ndYear" value="true" id="2ndYear" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo2ndYear" value="true" id="2ndYear" >*@
                <label class="form-check-label" for="2ndYear">2nd Year</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedTo3rdYear == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo3rdYear" value="true" id="3rdYear">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedTo3rdYear" value="true" id="3rdYear" disabled>
                }
                @*<input  class="form-check-input" type="checkbox" asp-for="@Model.post.limitedTo3rdYear" value="true" id="3rdYear" >*@
                <label class="form-check-label" for="3rdYear">3rd Year</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToHonours == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToHonours" value="true" id="Honours">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToHonours" value="true" id="Honours" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToHonours" value="true" id="Honours" >*@
                <label class="form-check-label" for="Honours">Honours</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToGraduate == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToGraduate" value="true" id="Graduates">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToGraduate" value="true" id="Graduates" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToGraduate" value="true" id="Graduates" >*@
                <label class="form-check-label" for="Graduates">Graduates</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToMasters == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToMasters" value="true" id="Masters">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToMasters" value="true" id="Masters" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToMasters" value="true" id="Masters" >*@
                <label class="form-check-label" for="Masters">Masters</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToPhd == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPhd" value="true" id="PHD">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPhd" value="true" id="PHD" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToPhd" value="true" id="PHD" >*@
                <label class="form-check-label" for="PHD">PHD</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToPostdoc == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPostdoc" value="true" id="Postdoc">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToPostdoc" value="true" id="Postdoc" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToPostdoc" value="true" id="Postdoc" >*@
                <label class="form-check-label" for="Postdoc">Postdoc</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToFaculty == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToFaculty" value="true" id="Faculty">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToFaculty" value="true" id="Faculty" disabled>
                }
                @*<input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToFaculty" value="true" id="Faculty" >*@
                <label class="form-check-label" for="Faculty">Faculty</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToDepartment == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToDepartment" value="true" id="Department">
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="@Model.post.LimitedToDepartment" value="true" id="Department" disabled>
                }
                @* <input class="form-check-input" type="checkbox" asp-for="@Model.post.limitedToDepartment" value="true" id="Department" >*@
                <label class="form-check-label" for="Department">Department</label>
            </div>

        </div>
    </div>
    <div class="col pb-2">
        <label asp-for="@Model.post.LimitedToSA"></label>
        <div class="col">
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToSA == true)
                {
                    <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="true" id="SAonly">
                }
                else
                {
                    <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="true" id="SAonly" disabled>
                }
                @* <input class="form-check-input" type="radio" asp-for="@Model.post.limitedToCountry" value="South African citizens or" id="SAonly" >*@
                <label class="form-check-label" for="SAonly">South African citizens or</label>
            </div>
            <div class="form-check form-check-inline">
                @if (@Model.post.LimitedToSA == false)
                {
                    <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="false" id="everyone">
                }
                else
                {
                    <input class="form-check-input" type="radio" asp-for="@Model.post.LimitedToSA" value="false" id="everyone" disabled>
                }
                @*<input class="form-check-input" type="radio" asp-for="@Model.post.limitedToCountry"  value="Open to everyone" id="everyone" >*@
                <label class="form-check-label" for="everyone">Open to everyone</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.FacultyName"></label>
            <select id="facultyNameID" class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.FacultyName">

                @foreach (var faculty in @Model.Faculty)
                {
                    @if (faculty.FacultyId == Model.post.FacultyName)
                    {
                        <option value="@faculty.FacultyId">@faculty.FacultyName</option>
                    }
                    else
                    {
                        <option value="@faculty.FacultyId" disabled>@faculty.FacultyName</option>
                    }

                }
            </select>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.DepartmentName"></label>
            <select id="departmentNameID" class="form-select" style="width:100%;border-radius:0;" asp-for="@Model.post.DepartmentName">

                @foreach (var department in @Model.Department)
                {
                    @if (@department.DepartmentId == @Model.post.DepartmentName)
                    {
                        <option value="@department.DepartmentName">@department.DepartmentName</option>
                    }
                    else
                    {
                        <option value="@department.DepartmentName" disabled>@department.DepartmentName</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.MinimumRequirement"></label>
            <<textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.MinimumRequirement" readonly > </textarea>
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ApplicationInstruction"></label>
            <textarea style="width:100%;border-radius:0;" class="form-control autoresizing" asp-for="@Model.post.ApplicationInstruction" readonly > </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonName"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ContactPersonName" readonly />
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonEmail"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ContactPersonEmail" readonly />
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ContactPersonNumber"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ContactPersonNumber" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col pb-2">
            <label asp-for="@Model.post.PostStatus"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.PostStatus" readonly />
        </div>
        <div class="col pb-2">
            <label asp-for="@Model.post.ApprovalStatus"></label>
            <input class="form-control" style="width:100%;" asp-for="@Model.post.ApprovalStatus" readonly />
        </div>
    </div>
    <div class="row text-center">
        <div class="col pl-3 pt-2">
            <button type="submit" style="width:30%;" asp-controller="Approver" asp-action="ApproverApprovePost" class="btn btn-success btn-sm">Approve</button>
            <button type="submit" style="width:30%;" asp-controller="Approver" asp-action="ApproverRejectPost" class="btn btn-success btn-sm">Reject</button>
            <button type="submit" style="width:30%;" asp-controller="Approver" asp-action="ApproverQueryPost" class="btn btn-success btn-sm">Query</button>
        </div>


        <div class="col pl-3 pt-2">
            @*<button type="submit" class="btn btn-success btn-sm">Save changes</button>*@
            <a  style="width:50%;" asp-controller="Approver" asp-action="PendingPosts" class="btn btn-secondary btn-sm">Back</a>
        </div>
    </div>
</form>
@section scripts{
    <script>
        //function hideapprovernote(){
        //    $('#approvernote').hide();
        //}
        $(document).ready(function () {

            $('#1stYear').change(function () {
                $('#1stYear').prop("checked", true);
            });

            $('#2ndYear').change(function () {
                $('#2ndYear').prop("checked", true);
            });
            $('#3rdYear').change(function () {
                $('#3rdYear').prop("checked", true);
            });

            $('#Honours').change(function () {
                $('#Honours').prop("checked", true);
            });

            $('#Graduates').change(function () {
                $('#Graduates').prop("checked", true);
            });
            $('#Masters').change(function () {
                $('#Masters').prop("checked", true);
            });
            $('#PHD').change(function () {
                $('#PHD').prop("checked", true);
            });

            $('#Postdoc').change(function () {
                $('#Postdoc').prop("checked", true);
            });
            $('#Faculty').change(function () {
                $('#Faculty').prop("checked", true);
            });

            $('#Department').change(function () {
                $('#Department').prop("checked", true);
            });

            //$('#graduates').attr("disabled", true);

            //hideapprovernote();
            //var note = $('#approvalstatus').val()
            //if(note != "pending"  && note!=""){
            //    $('#approvernote').show();
            //}


        });
    </script>
}


@*@section scripts{
	<script type="text/javascript">
		$(document).ready(function(){
			$('#facultyNameID').change(function(){
				var obId = this.value
				//alert(obId);
				$('#departmentNameID').empty();
				$.ajax({
					type:'GET',
					url: '@Url.Action("GetDepartmentById")',
					dataType: 'json',
					data: {id : obId},
					success: function(dep){
						$.each(dep,function(index,item){
							$('#departmentNameID').append('<option value="'+item.departmentName+'">' +item.departmentName+ '</option>')
						});
					}
				});

			});
		});
	</script>
}*@

